/*@font-face {
    font-family: 'Saturday';
    src: url('Saturday_be_like_Madness.ttf') format('truetype');
}*/

@font-face {
	font-family: 'Helvetica_med';
	src: url('HelveticaNeue Medium.ttf') format('truetype');
}

.navbar {
	padding: 1vh;
	background-color: #EBEFF2;
	font-family: 'Helvetica_med', Arial, serif;
}


#name_dany {
	text-align: center;
	font-size: 5vh;
	margin-bottom: 3vh;
}

nav li {
	margin-left: 3vw;
	display : inline;
}

nav li a {
	color: black;
	font-size: 2.5vh;
	display : inline;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
	color: lightslategrey;
}


footer {
	background-color: #EBEFF2;
	padding: 2vh;
}

#year {
	text-align: center;
}








